@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP' , sans sarif;
}

body {
    margin: 0;
    background-color: #b7ffd5;
}